<p id="notice"><%= notice %></p>

<h1>Admin Access: <%= current_user.email %></h1>
<h2>Users</h2>

<table>
  <thead>
    <tr>
      <th>Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td>Email: <%= user.email %></td>
        <td>Admin: <%= user.admin %></td>
        <td>Confirmation Token: <%= user.confirmation_token %></td>
        <td>Confirmation at: <%= user.confirmed_at %></td>
        <td><%= link_to 'Show', admin_user_path(user) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Add User', new_admin_user_path %>