<p id="notice"><%= notice %></p>

<h1>Dashboard</h1>

<table>
  <thead>
    <tr>
      <th>Symbol</th>
      <th>Stock name</th>
      <th>Shares</th>
      <th>Price</th>
      <th>Value</th>
    </tr>
  </thead>

  <tbody>
    <% @transactions.each do |transaction| %>
      <tr>
        <td><%= transaction.symbol %></td>
        <td><%= transaction.stock_name %></td>
        <td><%= transaction.shares %></td>
        <td><%= number_to_currency(@client.quote(transaction.symbol).latest_price) %></td>
        <td><%= number_to_currency(@client.quote(transaction.symbol).latest_price * transaction.shares) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Buy stocks', search_path %>
