<% flash.each do |type, msg| %>
  <div class="alert alert-info">
    <%= msg %>
  </div>
<% end %>

<%= link_to 'Dashboard', authenticated_root_path %>

<%= form_with url: new_transaction_path, method: :get do |form| %>
  <div class="field">
    <%= form.label :symbol %>
    <%= form.text_field :symbol %>
  </div>

  <div class="actions">
    <%= form.submit 'Search' %>
  </div>
<% end %>
