<nav class="navbar navbar-expand-lg navbar justify-content-between">
    <span><%= link_to 'Balato Exchange', '/', class: "navbar-brand"%></span>
    <% if current_user && !current_user.admin %>
        <div>
            <%= link_to 'Dashboard', authenticated_root_path, class: "header-nav" %>
            <%= link_to 'Transactions', transactions_path, class: "header-nav" %>
            <%= link_to 'Manage Account', edit_user_registration_path, class: "header-nav" %>
        </div>
    <% elsif current_user && current_user.admin %>
        <%= link_to 'All Users', admin_users_path, class: "header-nav" %>
        <%= link_to 'Pending Signup', admin_user_pending_signup_path, class: "header-nav" %>
        <%= link_to 'Add User', new_admin_user_path, class: "header-nav" %>
    <% end %>
  <div>
    <div class="navbar-content-container" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 flex-row gap-2 align-items-center">
        <%# For showing admin / trader upon login %>
        <% if current_user && current_user.admin %>
            <li class="nav-item">
                <span class="greet-user">Welcome, Admin <%= current_user.email.split("@").first.capitalize %></span>
            </li>
        <% elsif current_user && !current_user.admin %>
            <li class="nav-item">
                <span class="greet-user">Welcome, Trader <%= current_user.email.split("@").first.capitalize %></span>
            </li>
        <% end %>
        <% if user_signed_in? %>
            <li class="nav-item">
                <%= link_to 'Log out', destroy_user_session_path, method: :delete, class: "nav-link logout-btn" %>
            </li>
        <% else %>
            <li class="nav-item">
                <%= link_to 'Log in', new_user_session_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
                <%= link_to 'Sign up', new_user_registration_path, class: "nav-link" %>
            </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>